@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.content-container {
  @apply px-[189px];
}

.text-content {
  left: 0;
  top: 50%;
  width: 100%;
  font-weight: 600;
  font-size: 58px;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-line;
}

.landing-info__text_mini {
  font-size: 26px;
  line-height: 39px;
  max-width: 930px;
  letter-spacing: -0.05px;
  white-space: pre-line;
}

.landing-subheader__text_small {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.05px;
  max-width: 730px;
}

.block-yellow {
  background-color: #ffdb3b;
}

.content-container-sm {
  @apply px-20;
}

.list-item-text {
  max-width: 350px;
  line-height: 1.5;
  letter-spacing: -0.05px;
  white-space: pre-line;
}

.list-list {
  margin: 24px -12px -12px;
  display: flex;
  flex-wrap: wrap;
}
.list-col {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
.list-item {
  margin: 12px;
  display: flex;
  font-size: 18px;
}
.list-item-icon {
  margin-top: 0.4em;
  margin-right: 24px;
  flex: 0 0 auto;
  width: 34px;
  height: 36px;
}
