@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.contact-container {
  @apply py-40;
}

.content-container {
  @apply px-[189px];
}
.block-content {
  @apply p-20;
}
.content-container-sm {
  @apply px-20;
}
.client-content-container {
  @apply px-20 pb-20;
}
.client-content-text {
  font-size: 150px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -4px;
  white-space: pre-line;
}
.client-list {
  /* margin-top: 160px;
  margin-left: -80px;
  margin-right: -80px;
  padding-left: 80px;
  padding-right: 80px; */
  overflow: hidden;
  /* animation: scrollClients 5s forwards infinite; */
  display: flex;
}

/* @keyframes scrollClients {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
} */

.client-item {
  margin-right: 20px;
  font-size: 24px;
}
.text-content {
  left: 0;
  top: 50%;
  width: 100%;
  font-weight: 600;
  font-size: 58px;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-line;
}

.landing-info__text_mini {
  font-size: 26px;
  line-height: 39px;
  max-width: 930px;
  letter-spacing: -0.05px;
  white-space: pre-line;
}

.landing-subheader__text_small {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.05px;
  max-width: 730px;
}
.text-yellow {
  color: #ffdb3b;
}

.block-yellow {
  background-color: #ffdb3b;
}

.list-item-text {
  max-width: 350px;
  line-height: 1.5;
  letter-spacing: -0.05px;
  white-space: pre-line;
}

.list-list {
  margin: 24px -12px -12px;
  display: flex;
  flex-wrap: wrap;
}
.list-col {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
.list-item {
  margin: 12px;
  display: flex;
  font-size: 18px;
}
.list-item-icon {
  margin-top: 0.4em;
  margin-right: 24px;
  flex: 0 0 auto;
  width: 34px;
  height: 36px;
}
.neutral-item-title {
  margin-top: 36px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05px;
}
.neutral-item-text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.05px;
  color: #747272;
}
.neutral-wrapper {
  margin: 0 -20px;
  justify-content: space-between;
}

.neutral-icon {
  height: 56px;
  width: 56px;
  margin-bottom: 36px;
}
.accordion-description {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.05px;
  color: #6c6c6c;
}

.main-contact-wrapper {
  display: block;
  width: 100%;
  height: 780px;
  padding: 160px 0;
  margin: 0 auto;
  background: #000 url("/footer_form_bg.jpg") no-repeat center center;
  background-size: cover;
}
.main-contact-form-title {
  display: block;
  width: 100%;
  max-width: 1100px;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 110%;
  letter-spacing: -1.5px;
  color: #ffffff;
  margin: 0 auto 70px;
}
.main-contact-body {
  display: block;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
.form_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.form-top-block {
  display: block;
  width: 85%;
}
.input-wrapper {
  padding-bottom: 21px;
  width: 100%;
  transition: color 0.2s;
}
.input-wrapper:focus {
  outline: none;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
}

.headstone-wrap {
  display: block;
  width: 100%;
  max-width: 1100px;
  padding: 120px 0;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.headstone-first {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 80px;
}
.headstone-logo {
  display: block;
  width: 300px;
}
.headstone-title {
  display: block;
  width: 100%;
  max-width: 800px;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 110%;
  letter-spacing: -1.5px;
  color: #ffffff;
}
.headstone-second-left {
  display: block;
  width: 300px;
}
.headstone-second-left-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}
.headstone-second-right {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin-left: 90px;
}
.headstone-second-right-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  display: block;
  width: 100%;
}
.headstone-second-right-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  align-self: flex-end;
}
.headstone-third {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.headstone-third-policy {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  color: #8f8f97;
  display: block;
  width: 300px;
}
.headstone-third-cert {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews-content {
  position: relative;
  height: 320px;
}
.reviews-title {
  order: 1;
  flex: 1 1;
  margin-left: 333px;
  position: relative;
  max-width: 1000px px;
  font-size: 55px;
  line-height: 65px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.reviews-author {
  margin-right: 60px;
  flex: 0 0 auto;
  max-width: 350px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  font-size: 15px;
  line-height: 20px;
}
.reviews-photo {
  margin-right: 25px;
  display: flex;
}
.reviews-author-info {
  color: #ffdb3b;
}
.author-name {
  font-weight: 600;
}
.reviews-nav {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
}
.about-info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-height: 100%;
  z-index: 1;
}
.about-title {
  max-width: 1500px;
  margin-left: -0.075em;
  z-index: 1;
  font-size: 150px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -4px;
}
.about-text {
  margin-left: -0.075em;
  padding-top: 80px;
  max-width: 850px;
  font-size: 27px;
  line-height: 40px;
  letter-spacing: -0.05px;
}
.about-section-title {
  font-weight: 600;
  line-height: 1;
  letter-spacing: -4px;
  font-size: 130px;
}
.stats-list {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0 -40px;
}
.stats-list-col {
  width: 40%;
  margin: 40px 0;
}
.stats-list-title {
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
  color: #ffdb3b;
}
.stats-list-text {
  margin-top: 12px;
  max-width: 12.5em;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.2px;
}
.about-offices {
  margin-top: 80px;
  font-size: 90px;
  line-height: 1.65;
  letter-spacing: -1px;
}
.about-offices-title {
  font-weight: 700;
  color: #ffdb3b;
  margin-top: 80px;
  font-size: 90px;
  line-height: 1.65;
  letter-spacing: -1px;
}

.logos-slide a {
  font-size: 90px;
  margin: 0 40px;
}
.logos {
  overflow: hidden;
  padding: 60px;
  white-space: nowrap;
}
.logos-slide {
  display: inline-block;
  animation: 8s slide infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.about-subtitle {
  margin: 80px 0;
  font-weight: 600;
  font-size: 65px;
  line-height: 80px;
  letter-spacing: -0.5px;
  white-space: pre-line;
}
.section-1-wrap {
  position: relative;
  overflow: hidden;
  background: #000
    url(https://itrexgroup.com/wp-content/themes/itrex/assets/images/how-we-work/how-we-work-bg.png)
    no-repeat center center;
  background-size: cover;
}
.section-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  height: 100vh;
  min-height: 500px;
}
.section-1-title {
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: -0.018em;
  color: #ffffff;
  width: 100%;
  padding-top: 100px;
}
.section-1-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto 90px;
}
.section-1-bottom-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 600px;
}
.section-1-text:first-child {
  margin-right: 30px;
  position: relative;
}
.section-1-text:first-child:after {
  content: "";
  display: block;
  height: 112px;
  width: 1px;
  background: #bcbcbc;
  position: absolute;
  top: 5px;
  left: calc(100% + 15px);
}
.section-1-text {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: #bcbcbc;
  display: block;
  max-width: 260px;
}
.main-section-1-button {
  width: 350px;
  height: 60px;
  background: #4861fc;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 140%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
.section-2-wrap {
  border-bottom: 2px solid #ebebeb;
}
.section-2 {
  display: block;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 115px 0 90px;
}
.section-2-top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.section-2-tabs {
  display: block;
  padding: 40px 0 10px;
}
.section-2-title {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 110%;
  letter-spacing: -1.5px;
  color: #000000;
  width: 50%;
}
.section-2-text {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: #8f8f97;
  width: 50%;
  max-width: 440px;
  padding-left: 25px;
  box-sizing: border-box;
}
.section-2-tabs-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.section-2-tabs-btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.5px;
  color: #000000;
  display: block;
  width: 290px;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.section-2-tabs-content {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: #000000;
  display: block;
  width: 100%;
  max-width: 475px;
  margin-right: 100px;
}
.section-2-tabs-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section-2-tabs-list-title {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: #000000;
  margin-bottom: 15px;
}
.section-2-tabs-list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: #989898;
  margin-bottom: 15px;
  padding-left: 33px;
  position: relative;
}
.section-2-tabs-list-item:before {
  display: block;
  content: "";
  width: 24px;
  height: 15px;
  background: url(https://itrexgroup.com/wp-content/themes/itrex/assets/images/how-we-work/how-we-work-list.svg)
    no-repeat center center;
  position: absolute;
  left: 0;
  top: 4px;
}
.content-button {
  width: 350px;
  height: 60px;
  background: #4861fc;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 140%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

/* .section-2-tabs-btn.active:after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: #4861fc;
  position: absolute;
  left: 0;
  bottom: 0;
}
.section-2-tabs-btn :after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #ebebeb;
  position: absolute;
  left: 0;
  bottom: 1px;
} */
.section-3-wrap {
}
.section-3 {
  display: block;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 70px 0 90px;
}
.section-3-title {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 110%;
  letter-spacing: -1.5px;
  color: #000000;
  margin-bottom: 45px;
}
.section-3-text {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: #8f8f97;
  display: block;
  width: 100%;
  max-width: 885px;
  margin-bottom: 90px;
}
.section-3-tabs {
  margin-bottom: 60px;
}
.section-3-tab {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 35px 0;
  box-sizing: border-box;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: -1px;
}
.section-3-tab-title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.5px;
  color: #000000;
}
.section-3-text-wrap {
  display: block;
  width: 50%;
  padding-left: 25px;
  box-sizing: border-box;
}
.section-3-tab-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: #989898;
  margin-bottom: 30px;
}
.section-3-show-more {
  font-weight: 600;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: #000000;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section-3-content-hidden-wrap {
  display: block;
  width: 100%;
}
.section-3-hidden-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;

  margin-top: 50px;
}
.section-3-hidden-content-list {
  display: block;
  width: 100%;
  max-width: 350px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: #000;
  margin-bottom: 30px;
  padding-left: 33px;
  position: relative;
}
.section-3-hidden-content-list::before {
  display: block;
  content: "";
  width: 24px;
  height: 15px;
  background: url(https://itrexgroup.com/wp-content/themes/itrex/assets/images/how-we-work/how-we-work-list.svg)
    no-repeat center center;
  position: absolute;
  left: 0;
  top: 4px;
}

.show-more-icon {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-left: 10px;
  position: relative;
}

.section-4 {
  display: block;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 70px 0 170px;
}
.section-4-title {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 110%;
  letter-spacing: -1.5px;
  color: #000000;
}
.section-4-table-wrap {
  margin: 60px 0 75px;
}
.section-4-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e4e4e4;
}
.section-4-table-row:first-child div {
  font-weight: 600;
  color: #4861fc;
}
.section-4-table-row div {
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  width: 25%;
  padding: 15px 0;
}
.section-4-table-row div:first-child {
  font-weight: 600;
}
.block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  @apply px-[189px];
  position: relative;
  flex: 1 1;
  padding-bottom: 80px;
}

.title-micro {
  margin-bottom: 28px;
  font-size: 38px;
  line-height: 1.1;
  letter-spacing: -1px;
  font-weight: 600;
}
.text-mini {
  font-size: 26px;
  line-height: 39px;
  max-width: 930px;
  letter-spacing: -0.05px;
  white-space: pre-line;
}
.landing-platforms {
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.landing-platforms-items {
  flex: 1 1;
  margin: 0 20px;
}
.landing-platforms-title {
  margin-top: 36px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05px;
}
.landing-platforms-text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.05px;
  color: #747272;
}
.button {
  padding: 16px 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #fff;
  background-color: #445aec;
  user-select: none;
  cursor: pointer;
}
.space-hmt {
  margin-top: 60px;
}
.block-2 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.landing-tabs {
  padding-top: 32px;
  position: relative;
}
.landing-tabs-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #dadada;
}
.landing-tabs-tab {
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: -2px;
  flex: 1 1;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
  line-height: 45px;
  font-weight: 600;
  letter-spacing: -0.5px;
  text-align: center;
  cursor: pointer;
  transition:
    opacity 0.2s,
    color 0.2s;
}
.landing-tab-icon {
  max-width: 60px;
  max-height: 40px;
  margin-bottom: 24px;
}
.landing-tab-item {
  margin-top: 32px;
  padding-bottom: 20px;
  left: 0;
  top: 0;
  width: 100%;
}
.landing-tab-text {
  margin: 0 auto;
  max-width: 1020px;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: -0.5px;
}
.description-mth {
  margin-top: 40px;
}
.description {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.05px;
  color: #adb1c7;
}
.block-blog {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.block-overflow {
  overflow: hidden;
}
.block-content {
  position: relative;
  flex: 1 1;
  padding: 80px;
}
.blog-filter {
  margin: -4px -22px 46px;
}
.blog-filter-item {
  margin: 4px 22px;
  position: relative;
  display: inline-block;
  transition: opacity 0.15s;
}
.blog-filter-name {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -0.8px;
  cursor: pointer;
}
.blog-filter-badge {
  position: absolute;
  right: -4px;
  top: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  color: #445aec;
  transform: translateX(100%);
}
.work-list {
  margin: -60px -15px;
  display: flex;
  flex-wrap: wrap;
}
.post.post_work {
  flex-direction: column;
}
.post:not(.post_slider) {
  margin-bottom: 80px;
}
.post-wrapper > * {
  margin: 60px 15px;
  width: calc(50% - 30px);
}
.post {
  position: relative;
  display: flex;
}
.post_work .post-info {
  order: 1;
  margin-top: 34px;
  padding: 0;
  flex: 0 0 auto;
}
.post-info {
  padding: 0 80px 42px;
  position: relative;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 22px;
  z-index: 1;
  overflow: hidden;
}
